{% extends 'app/layouts/base-dark-mode.html' %}
{% load component_tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<title>Dashboard - Grupo</title>{% endblock title %}

{% block content %}
<div class="row-md-12">
  <button class="btn btn-light btn-pill" data-toggle="collapse" href="#collapseExample" aria-expanded="true"
    aria-controls="collapseExample">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24"
      viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="10" cy="10" r="7"></circle>
      <line x1="21" y1="21" x2="15" y2="15"></line>
    </svg>
    Filtrar Categorias
  </button>
  <div class="card-body show" id="collapseExample">
    <form action="{% url 'dashboard-group' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group mb-3">
            <div class="row-fluid md-12">
              <div class="form-label">Selecione a categoria</div>
              {% render_field form.category class+="selectpicker" data-width="100%" data-live-search="true" %}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-3 ">
        <label class="form-label">Seleciones as empresas</label>
        {% render_field form.companies class+="multiselect" %}
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-pill w-40  float-right">Pesquisar</button>
      </div>
    </form>
  </div>
</div>
{% include 'app/includes/messages.html' %}
<!-- Page title -->
<div class="page-header d-print-none mt-4">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Overview
      </div>
      <h2 class="page-title">
        {{ category.name }}
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ms-auto d-print-none">
      <div class="btn-list">
        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report"
          aria-label="Create new report">
          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
{% if view %}
<div class="row">
  {% for card in view.cards %}
  {% component "card" card=card %}
  {% endfor %}
</div>
<div class="col">
  <div class="row-md-12 mt-2">
    <div class="mt-4">
      {% component "plotly-card" plotly_graph=view.graphs.line_mean_prod_price %}
    </div>
    <div class="mt-4">
      {% component "tab-pane" tabs=view.graphs.first_tab %}
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
{% block scripts %}
{% component_js_dependencies %}
<script>
  var fetch_companies_url = "{% url 'fetch-companies' %}";
</script>
<script src="{% static 'app/js/dashboard_group.js' %}"></script>
{% endblock %}