{% extends 'layouts/base-dark-mode.html' %}


{% block content %}
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    {% include 'includes/messages.html' %}
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Dashboard
          </div>
          <h2 class="page-title">
            Efetuar Compra
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <form action="#" method="POST">
        {% csrf_token %}
        <label for="purchase-code">Código de Compra</label>
        <input id="purchase-code" name="purchase-code" type="text" class="form-control" />
        <button type="submit" class="btn btn-primary">Efetuar Compra</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}