{% if messages %}
<div class="mt-4">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <div class="d-flex">
      <div>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <h4 class="alert-title">
          <i class="fas fa-exclamation-triangle text-warning"></i>
          Aviso
        </h4>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <h4 class="alert-title">
          <i class="fas fa-exclamation-triangle text-info"></i>
          Informação
        </h4>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <h4 class="alert-title">
          <i class="fas fa-exclamation-triangle text-danger"></i>
          Algo deu errado
        </h4>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <h4 class="alert-title">
          <i class="fas fa-exclamation-triangle text-success"></i>
          Sucesso
        </h4>
        {% endif %}
        <div class="text-muted">{{ message }}</div>
      </div>
    </div>
    <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
  </div>
  {% endfor %}
</div>
{% endif %}